html {
  font-size: var(--layout-overall-scale, 16px);
}
.p-overlay {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  color: var(--colors-chat-messages-message-colors-text, #fff);
  font-family: var(--typography-font-family, 'Inter');
  font-size: 1rem;
  font-weight: 800;
  text-shadow: var(--shadows-chat-messages-message-shadow, 0 0.063rem 0 #000);
  background: var(--colors-scene-background, transparent);
}
.p-overlay > .c-chat {
  position: relative;
  display: flex;
  min-height: 0;
  flex: 1;
  flex-direction: column;
  padding: var(--layout-overall-padding, 0);
}
.p-overlay > .c-chat > .chat-messages-wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  min-height: 0;
  flex: 1;
  flex-direction: column-reverse;
  justify-content: flex-start;
  /* (reversed, so this is actually flex-end) */
}
.p-overlay > .c-chat > .chat-messages-wrapper > .chat-messages-scroller::-webkit-scrollbar {
  display: none;
}
.p-overlay > .c-chat > .chat-messages-wrapper > .chat-messages-scroller {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.p-overlay > .c-chat > .chat-messages-wrapper > .chat-messages-scroller > .chat-messages {
  display: flex;
  flex-direction: column;
  gap: var(--layout-overall-space-between-messages, 0.5rem);
  overflow: hidden;
}
.c-chat-message {
  animation: var(--animations-new-message-type) var(--animations-new-message-duration) ease-in-out;
}
.c-chat-message.type-tip,
.c-chat-message.type-sub,
.c-chat-message.type-gift {
  display: grid;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border-radius: 0.125rem;
  border-left: 0.25rem solid #f64699;
  background: rgba(0, 0, 0, 0.1);
  font-size: 0.875rem;
  grid-column-gap: 0.5rem;
  grid-template-areas: 'tip-emote author' 'tip-emote body';
  grid-template-columns: 1.5rem 1fr;
}
.c-chat-message.type-tip::before,
.c-chat-message.type-sub::before,
.c-chat-message.type-gift::before {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.75rem;
  background-image: url(https://cdn.bio/assets/images/features/chat/supporter.png);
  background-repeat: no-repeat;
  background-size: 100%;
  content: '';
  grid-area: tip-emote;
}
.c-chat-message > .timestamp {
  display: none;
}
.c-chat-message.type-tip > .inner > .author,
.c-chat-message.type-sub > .inner > .author,
.c-chat-message.type-gift > .inner > .author {
  display: block;
  font-size: 0.813rem;
  grid-area: author;
  font-weight: --var(--layout-author-font-weight);
}
.c-chat-message.type-tip > .inner > .author > .platform,
.c-chat-message.type-sub > .inner > .author > .platform,
.c-chat-message.type-gift > .inner > .author > .platform {
  display: var(--platform-display, none);
  width: 1.125rem;
  height: 1.125rem;
  margin-right: 0.125rem;
  vertical-align: middle;
}
.c-chat-message.type-tip > .inner > .body,
.c-chat-message.type-sub > .inner > .body,
.c-chat-message.type-gift > .inner > .body {
  grid-area: body;
}
.c-chat-message.type-default,
.c-chat-message.type-highlight {
  box-sizing: border-box;
  font-size: 0.813rem;
  font-weight: 500;
  display: var(--layout-author-fixed-width, block);
  align-items: flex-start;
}
.c-chat-message.type-default:hover,
.c-chat-message.type-highlight:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.c-chat-message.type-default.is-me-mentioned,
.c-chat-message.type-highlight.is-me-mentioned {
  border-left: 0.25rem solid var(--color-border-warning);
  background-color: #432a08;
  /* TODO: var */
}
.c-chat-message.type-default > .inner > .author,
.c-chat-message.type-highlight > .inner > .author {
  display: inline;
  margin-right: 0.25rem;
  line-height: 1.375rem;
  width: var(--layout-author-width);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-shrink: 0;
}

.c-chat-message > .inner > .author {
  font-weight: var(--typography-author-font-weight);
  letter-spacing: var(--typography-author-letter-spacing);
}

.c-chat-message > .inner > .body {
  font-weight: var(--typography-message-font-weight);
  letter-spacing: var(--typography-message-letter-spacing);
}

.c-org-member > .name::after {
  display: inline;
  content: ':';
}
.c-org-member > .badges {
  margin-right: 0.25rem;
}
.c-chat-message_c-author_c-badge {
  display: inline-block;
  width: var(--sizing-badge-size, 1rem);
  height: var(--sizing-badge-size, 1rem);
  /* if this looks bad, just use bigger images for ludwig's badges. this is mostly for his pronoun badges & yt badges  */
  image-rendering: pixelated;
  margin-right: 0.125rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  vertical-align: middle;
}

.c-chat-message.type-default > .inner > .author > .platform,
.c-chat-message.type-highlight > .inner > .author > .platform {
  display: var(--layout-author-show-platform-icon, none);
  width: 1.125rem;
  height: 1.125rem;
  margin-right: 0.125rem;
  vertical-align: middle;
}
.c-chat-message.type-default > .inner > .body,
.c-chat-message.type-highlight > .inner > .body {
  display: inline;
}
.c-chat-message.type-highlight {
  border: 1px solid rgba(var(--name-color-rgb), 0.5);
  background: rgba(var(--name-color-rgb), 0.2);
}
.c-chat-message_c-quick-actions {
  display: none;
}
.c-chat-message-body {
  line-height: 1.375rem;
  word-break: break-word;
}
.c-chat-message-body > .emote {
  display: inline-block;
  height: var(--sizing-emote-size, var(--local-line-height));
  margin: -0.25rem 0;
  /* negative same as padding on chat-message */
  vertical-align: middle;
}
.c-chat-message-body > .emote > .tui-hover-tooltip_tui-link {
  height: var(--sizing-emote-size, var(--local-line-height));
  vertical-align: top;
}

.c-chat-message-body > .emote > .tui-hover-tooltip_tui-link > img {
  height: var(--sizing-emote-size, var(--local-line-height)) !important; /* FIXME: make this not necessary */
  vertical-align: top;
}
.c-chat-message-body > .link {
  display: inline-block;
}

.c-chat-message > .inner > .reply {
  display: none;
}

/* TODO: prob want to bake some css in, and not require theme devs to do */
.c-chat_c-theme-active-powerup {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  justify-content: center;
  pointer-events: none;
}

.c-chat_c-theme-active-powerup > video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes slide-from-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
